$black: rgb(20, 12, 28);

$maroon: rgb(68, 36, 52);
$purple: rgb(48, 52, 109);

$darkgray: rgb(78, 74, 78);
$lightgray: rgb(133, 149, 161);

$brown: rgb(133, 76, 48);
$darksand: rgb(117, 113, 97);
$orange: rgb(210, 125, 44);

$darkgreen: rgb(52, 101, 36);
$green: rgb(109, 170, 44);
$lightgreen: rgb(222, 238, 214);

$red: rgb(208, 70, 72);
$salmon: rgb(210, 170, 153);

$skyblue: rgb(89, 125, 206);
$teal: rgb(109, 194, 202);

$yellow: rgb(218, 212, 94);
