@import "dawnbringer";

body {
  padding: 10px;
  background-color: $lightgreen;
  color: $black;
}

@mixin gradient-vertical($topColor, $bottomColor) {
  background: $topColor;
  background: -moz-linear-gradient(90deg, $topColor 0%, $bottomColor 100%);
  background: -webkit-linear-gradient(90deg, $topColor 0%, $bottomColor 100%);
  background: -o-linear-gradient(90deg, $topColor 0%, $bottomColor 100%);
  background: -ms-linear-gradient(90deg, $topColor 0%, $bottomColor 100%);
  background: linear-gradient(180deg, $topColor 0%, $bottomColor 100%);
}

canvas, .pixel-art-sprite {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}

.inventory {
  @include gradient-vertical(lighten($brown, 10%), darken($brown, 10%));
}

.in-game-text {
  position: absolute;
  left: 0; bottom: 0; right: 0;

  font-size: 36px;
  padding: 20px;

  background-color: $darkgray;
  color: $yellow;
  border: 2px solid $maroon;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  font-family: 'Radley', serif;
  font-family: 'Lobster Two', cursive;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Niconne', cursive;

  @include gradient-vertical(
    darken(rgb(133, 149, 161), 30%), lighten(rgb(20, 12, 28), 20%));

}